footer{
    background-color: #1b1f25;
    height: 500px;
    color: aliceblue;
    padding: 60px 100px;
    gap: 20px;
}

.inforMe p{
    margin-top: 40px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1.3px;
}

table{
    padding: 10px 35px;
}

.table td{
    padding: 10px;
}

input[type="text"]{
    border-radius: 8px;
    width: 400px;
    height: 40px;
    padding: 10px;
}

table label{
    font-size: 20px;
}

textarea{
    width: 400px;
    height: 100px;
    padding: 10px;
}

.btnLH{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #2e81ff;
    color: aliceblue;
    cursor: pointer;
}


.btnLH:hover{
    background-color: #2567cc;
}

.contact-me{
    background-color: #2d343f;
    border-radius: 20px;
}

/*Responsive*/
@media (max-width: 768px) {
    textarea{
        height: 30px;
        padding: 10px;
    }
    .table td{
        padding: 3px;
    }
    table label{
        font-size: 15px;
    }
    .btnLH{
        padding: 7px;
    }
    input[type="text"]{
        padding: 5px;
        width: 400px;
        height: 20px;
    }
}

@media (max-width: 375px) {
    .inforMe p{
        font-size: 10px;
        width: 300px;
    }
    textarea{
        height: 30px;
        width: 200px;
        padding: 10px;
    }
    .table td{
        padding: 3px;
    }
    table label{
        font-size: 15px;
    }
    .btnLH{
        padding: 7px;
    }
    input[type="text"]{
        padding: 5px;
        width: 200px;
        height: 20px;
    }
}
